<<<<<<< HEAD
if(local)
=======
<% if(locals.main_content_page){ %>
   <% if(locals.main_content_page === "home") { %>
        <h1 class="welcome">Welcome to the page</h1>
   <% } else if(locals.main_content_page === "animals"){ %>
                <h1 class="header_title">Animal Name <%= animal.animal_name %></h1>
                <h2 class="group_name">Group name <%= animal.group_name %></h2>
                <p><strong>Life Span:</strong> <%= animal.lifeSpan %> years</p>
                <p><strong>Food:</strong> <%= animal.food %></p>
                <p><strong>Description:</strong> <%= animal.description %></p>
                <p><strong>Length:</strong> <%= animal.length %> cm</p>
                <p><strong>Weight:</strong> <%= animal.weight %> kg</p>
                <p><strong>Place:</strong> <%= animal.place %></p>
                <p><strong>Group:</strong> <%= animal.group %></p>           
        <% } %>
<% } %>


>>>>>>> main
