<% if(locals.welcome_text) { %>
     <% if(welcome_text === "home"){ %>
        <div class="animal_names">
            <% animal_names.forEach(animal => { %>
                <a href="./mammals/<%= animal.name.replace(" ", "-") %>"><%= animal.name %></a><br>
            <% }) %>
            </div>
  <% } else if(welcome_text === "mammals") { %>
        <div>
            <% animal_names.forEach(animal => { %>
                <a href="/reptiles/<%= animal.name.replace(" ", "-") %>"><%= animal.name %></a><br>
            <% }) %>
        </div>
    <% } else if(welcome_text === "reptiles") { %>
        <div>
            <% animal_names.forEach(animal => { %>
                <a href="/<%= animal.name %>/<%= animal.name.replace(" ", "-") %>"><%= animal.name %></a><br>
            <% }) %>
        </div>
    <% }  %> 


<% } %>

        <div class="animal_names">
            <% animal_names.forEach(animal => { %>
                <a href="./<%= animal.groupName %>/<%= animal.name %>"><%= animal.name %></a><br>
            <% }) %>
        </div>
   

