<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body class="<%=body_class%>">
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/nav_menu.ejs') %>
    <div class="wrapper">
        <%- include('../partials/sidebar.ejs') %>
        <%- include('../partials/main_content.ejs') %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>